<% layout('layouts/boilerplate') %>
<h1 class="text-center mt-5">Task Manager</h1>

<div class="container mt-4">
  <div class="row">
    <% tasks.forEach(task => { %>
    <div class="col-md-4 mb-4">
      <div class="card h-100">
        <div class="card-body">
          <h5 class="card-title"><%= task.title %></h5>
          <p class="card-text"><%= task.description %></p>
          <p class="card-text">
            <strong>Due Date:</strong> <%= task.dueDate.toDateString() %>
          </p>
          <a href="/<%= task._id %>/view" class="btn btn-primary">View</a>
        </div>
      </div>
    </div>
    <% }) %>
  </div>
</div>
